/* Default styling */
@font-face {
  font-family: "Fonts";
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fonts", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}
.container_thr {
  width: 90%;
  margin: 0 auto;
}

/* Display flex blocks */
.df_thr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.df2_thr {
  display: flex;
  align-items: center;
}
.content_nv {
  display: flex;
  justify-content: space-between;
}
.df_tr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df_bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df_ct {
  display: flex;
  justify-content: space-between;
}
.df_foo {
  display: flex;
  justify-content: space-between;
}
/* End Display flex blocks */

/* Top header styling */
.top-header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #9999;
}
.logo span {
  color: green;
}
.logo {
  color: #e25b00;
  padding: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.df2_thr i {
  color: #ff6600;
  font-size: 2rem;
  padding: 0 0.8rem;
}
.df2_thr b {
  color: #44425e;
}
.smallp_thr {
  font-size: 0.8rem;
  color: #6c6a74;
}
.col_thr {
  padding: 0 0.5rem;
}
/* End Top header styling */
/* Navbar styling */
.navbar {
  padding: 1rem 0;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin-right: 3rem;
  list-style: none;
}
.nav-links li a {
  color: #44425e;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}
.nav-links li a:hover {
  color: #ff6600;
}
.nav-links .active_link_nv {
  color: #ff6600;
}
.bars {
  display: none;
}
.bars i {
  font-size: 2rem;
  color: #44425e;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bars i:hover {
  color: #ff6600;
}
/* End Navbar styling */
/* Intro section styling */
.intro {
  background-image: url("../img/mabesrooms2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.content_io {
  width: 75%;
  margin: 0 auto;
}
.content_io p {
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}
.content_io h1 {
  font-size: 5rem;
  color: white;
}
.btn_io {
  padding: 0.5rem 3rem;
  background-color: #ff6600;
  display: inline-block;
  border-radius: 2rem;
  cursor: pointer;
}
.btn_io a {
  color: white;
}
.btn_io:hover {
  background-color: green;
}
/* End Intro section styling */
/* About section styling */
.about {
  padding: 7rem 0;
  display: flex;
  align-items: center;
}
.df_at {
  display: flex;
}
.img_at {
  width: 40%;
  border-radius: 1rem;
  margin: 0 1.5rem;
}
.text_at .first_at {
  padding: 0.5rem 0;
  letter-spacing: 0.5rem;
  color: Green;
  font-weight: bold;
  font-size: 1.2rem;
}
.text_at h1 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
  color: #44425e;
  letter-spacing: 0.1rem;
}
.text_at p {
  color: #6c6a74;
  padding: 0.5rem 0;
}
.btn_at {
  margin: 1rem 0;
  padding: 0.5rem 3rem;
  background-color: #ff6600;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
}
.btn_at a {
  color: white;
}
.btn_at:hover {
  background-color: #e25b00;
}
/* End About section styling */
/* Contact section styling */
.contact {
  padding: 3rem 0;
  margin-top: 7rem;
  background-image: url("../img/booksforbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text_ct .first_ct {
  padding: 0.5rem;
  display: inline-block;
  letter-spacing: 0.5rem;
  color: #ff6600;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0 0 10px black;
  background-color: #fff;
}
.text_ct h1 {
  color: white;
  padding: 0.5rem 0;
  font-size: 2rem;
  text-shadow: 0 0 10px black;
}
.text_ct p {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-shadow: 0 0 10px black;
}
.text_ct i {
  color: #ff6600;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-shadow: 0 0 10px black;
}
.form {
  background-color: #ff6600;
  border-radius: 1rem;
  margin: 1rem;
}
.form input {
  display: block;
  width: 25rem;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
}
.form input:focus {
  outline: none;
}
.form h1 {
  background-color: white;
  padding: 1rem;
  text-align: center;
  color: #44425e;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.content_form {
  padding: 1rem;
}
.btn_ct {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 25rem;
  border: none;
  background-color: #44425e;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
.btn_ct:hover {
  background-color: #22212d;
}
/* End Contact section styling */
/* footer styling */
.footer {
  padding: 4rem 1rem 0 1rem;
  background-color: #44425e;
}
.col_foo {
  padding: 1rem;
  width: 30%;
}
.col_foo .heading_foo {
  color: #ff6600;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  letter-spacing: 0.5rem;
}
.col_foo p {
  color: white;
  padding: 0.3rem 0;
}
.col_foo i {
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}
.icons_foo i {
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  transition: all 0.4 ease;
}
.icons_foo i:hover {
  background-color: white;
  color: #44425e;
}
.foo-link li {
  color: white;
  padding: 0.5rem;
}
.foo-link li a {
  color: white;
}
.form-control {
  width: 15rem;
  padding: 0.5rem;
}
.form-control:focus {
  outline: none;
}
.email-div {
  position: relative;
}
.btn_foo {
  background-color: #ff6600;
  height: 100%;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: absolute;
}
.bottom-footer {
  padding: 1rem;
  border-top: 1px solid #fff;
  color: white;
}
.logo1 {
  width: 100px; /* Adjust the width of your logo */
  height: auto; /* Maintain aspect ratio */ /* Remove any default inline spacing */ /* Center the logo horizontally */
}
/* End footer styling */
/* Login form styles */
/* Add this CSS to your existing styles or create a new CSS file */

/* Move your existing styles to your-styles.css or use the following */

.login-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.login-form {
  background: #fff;
  padding: 30px;
  min-height: 30vh;
  width: 100%;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  background: white;
}
.wrap-login {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}
.login-form-title {
  font-family: "poppins", sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #666666;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
}
.input:focus + .focus-input {
  animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
.symbol-input {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  transition: all 0.4s;
}
.input:focus + .focus-input + .symbol-input {
  color: #57b846;
  padding-left: 28px;
}
.login-form-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login-form-btn {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background: #57b846;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
  border: none;
}
.login-form-btn:hover {
  background: #333333;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.logo2 {
  width: 130px;
  height: auto;
  margin-bottom: 20px;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}
